:root {
  --rocket-black: #090909;
  --rocket-grey: #8D99AE;
  --rocket-light-pink: #F6EFEE;
  --rocket-pink: #EA91B1;
  --rocket-red: #EB5160;

  --rocket-font-size: 16px;
  --primary-font-family: "Inter" system-ui, sans-serif;
  --secondary-font-family: "Raleway", system-ui, sans-serif;
}